:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 100%;
    max-width: 1024px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 1rem;
}

.title {
    margin-bottom: 0.5rem;
}

.subtitle {
    margin-bottom: 1rem;
}

.social-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.social-item:not(:last-child) {
    margin-right: 1rem;
}

.social-link {
    display: inline-block;
    padding: 0.5rem;
}

.social-link:first-child {
    padding-left: 0;
}

.social-link:last-child {
    padding-right: 0;
}

main {
    height: fit-content;
    margin-bottom: 1rem;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

h4, h5, h6 {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    margin-left: 1rem;
}

li {
    margin-bottom: 0.25rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    align-items: center;
    font-size: 0.75rem;
    text-align: center;
}

footer p {
    margin: 0;
}

.picard {
    margin-bottom: 0.5em;
}

#picardCredit {
    font-style: italic;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    a {
        color: cornflowerblue;
    }
}
