<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <ul>
            {{ range $page := .Site.Params.Nav }}
                <li class="social-item">
                    <div class="social-container">
                        <span class="{{ $page.icon }}"></span>
                    </div>
                    <a href="{{ $page.url }}">{{ $page.name }}</a>
                </li>
            {{ end }}
        </ul>

        <div>
            <header>
                {{ partial "header.html" . }}
            </header>
        </div>

        <main>
            {{ block "main" . }}
            {{ end }}
        </main>

        <footer>
            {{ partial "footer.html" . }}
        </footer>

        <!-- Scripts -->
        {{ $copyright := resources.Get "js/copyright.js" }}
        <script src="{{ $copyright.Permalink }}"></script>
        <script src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
    </body>
</html>
