<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div>
            <header>
                {{ partial "header.html" . }}
            </header>
        </div>

        <main>
            {{ block "main" . }}
            {{ end }}
        </main>
        <div>
            <footer>
                {{ partial "footer.html" . }}
            </footer>
        </div>

        <!-- Scripts -->
        {{ $copyright := resources.Get "js/copyright.js" }}
        <script src="{{ $copyright.Permalink }}"></script>
    </body>
</html>
