{{ define "main" }}
    <article class="article">
        <div class="article-container">
            <header class="article-header">
                <h1 class="article-title">{{ .Title }}</h1>
                <div class="article-details">
                    <span class="article-date"><i class="fa-solid fa-calendar-day"></i> {{ .Date.Format "2006/01/02" }}</span>
                    <span class="reading-time"><i class="fa-solid fa-clock"></i> {{ .ReadingTime }} minutes</span>
                </div>
                <div class="toc">
                    <h2 class="toc-title"><i class="toc-title-icon fa-solid fa-table-list" aria-hidden="true"></i>Table of Contents</h2>
                    {{ .TableOfContents }}
                </div>
            </header>
            {{ .Content }}
        </article>
        </div>
{{ end }}
