.article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-container {
    width: 100%;
    height: 100%;
    max-width: 1024px;
}

.article-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-title {
    font-size: 2.5rem;
}

.article-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.article-date {
    margin-right: 1rem;
}

.article-date i, .reading-time i {
    margin-right: 0.25rem;
}

@media screen and (min-width: 1024px) {
    .article {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1440px) {
    .article {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 2560px) {
    .article-container {
        max-width: 1440px;
    }

    .article {
        font-size: 1.75rem;
    }
}
