@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .header-content {
        flex-direction: row-reverse;
    }

    .brand-content {
        width: 100%;
        padding: 0 0.5rem;
        justify-content: start;
    }

    .brand-image {
        display: block;
    }

    .desktop-nav {
        justify-content: space-between;
    }

    .page-list {
        display: flex;
    }
}
