:root {
    font-size: 16px;
    --light-background-color: white;
    --light-font-color: black;
    --light-hover-background-hover: #E5E5E5;
    --light-header-background-color: var(--light-background-color);
    --light-box-shadow-color: rgba(0, 0, 0, 0.25);
    --dark-background-color: #121212;
    --dark-font-color: white;
    --dark-hover-background-hover: #003566;
    --dark-header-background-color: #001D3D;
    --dark-box-shadow-color: rgba(255, 255, 255, 0.25);
    --background-color: var(--light-background-color);
    --font-color: var(--light-font-color);
    --hover-background-color: var(--light-hover-background-hover);
    --box-shadow-color: var(--light-box-shadow-color);
}

.dark {
    --background-color: var(--dark-background-color);
    --font-color: var(--dark-font-color);
    --header-background-color: var(--dark-header-background-color);
    --hover-background-color: var(--dark-hover-background-hover);
    --box-shadow-color: var(--dark-box-shadow-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    font-family: sans-serif;
    color: var(--font-color);
    transition: background-color 250ms ease-in, color 250ms ease-in;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

/* ==================== */
/* Header */
header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background-color);
    box-shadow: 0px 0px 2px 0px var(--box-shadow-color);
}

.header-content {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ==================== */
/* Mobile Nav */
.mobile-nav {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.mobile-menu, .mobile-switcher {
    height: 2.75rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
    color: inherit;
    cursor: pointer;
}

.mobile-menu:hover, .mobile-switcher:hover {
    background-color: var(--hover-background-color);
}

.mobile-menu {
    margin-right: 1rem;
}

.mobile-menu-icon {
    margin-right: 0.5rem;
}

/* ==================== */
/* Brand */
.brand-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-image {
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    margin-right: 0.5rem;
    border-radius: 100%;
    box-shadow: 0px 0px 2px 0px var(--box-shadow-color);
}

.brand-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.desktop-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==================== */
/* Pages */
.page-list {
    display: none;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    opacity: 0.5;
    height: 2.75rem;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.page-link:hover {
    opacity: 1;
    background-color: var(--hover-background-color);
    text-decoration: none;
}

.page-link-active {
    opacity: 1;
}

/* ==================== */
/* Socials */
.social-list {
    display: flex;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link {
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.social-link:hover {
    opacity: 1;
    background-color: var(--hover-background-color);
    text-decoration: none;
}

.social-icon {
    font-size: 1.25rem;
}

/* ==================== */
/* Main */
main {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}

/* ==================== */
/* Footer */
footer {
    margin-top: auto;
    padding-bottom: 1rem;
    font-size: 0.75rem;
    text-align: center;
}

/* ==================== */
/* Not Found */
.nf-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nf-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--font-color);
}

.nf-text {
    font-size: 1.5rem;
    font-weight: bold;
}
