@media (prefers-color-scheme: light) {
    body {
        background-color: var(--light-background-color);
        color: var(--light-font-color);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-background-color);
        color: var(--dark-font-color);
    }
}

.mobile-switcher {
    display: none;
}
